@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,400;1,300&family=Poppins:wght@300;700;900&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto; /* Adjusted */
  gap: 10px;
}

.navbar a {
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .links {
    margin-left: 0;
    margin-top: 20px;
  }

  .navbar a {
    margin-left: 0;
    display: block;
  }
  .navbar h1{
    font-size: 1rem;
  }
}

.blog-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
}

.blog-preview h2,.about h1,.create h1{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a{
  text-decoration: none;
}

.blog-details h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div,.blog-details article{
  margin: 20px 0;

}

.article-content{
  margin: 10px 0;
  line-height: 1.7;
  word-break: break-all;
  color: #333;
}

.blog-details button{
  background: #f1356d;
  color: #fff;
  border: 0;
  cursor: pointer;
  padding: auto;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}